body {
  margin: 0;
  font-family: "Permanent Marker", cursive;
  background-color: black;
}
.bg {
  width: 100vw;
  min-height: 100vh;
  background-image: url(../img/sam-albury-oA7MMRxTVzo-unsplash.jpg);
  opacity: 0.1;
  background-color: black;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: 1;
  top: 0vh;
}
h2 {
  color: white;
  text-shadow: 0.2vw 0.2vw #f92a9185;
  position: relative;
  font-size: 3.5vw;
  z-index: 1;
  text-align: center;
}
.logo {
  position: fixed;
  z-index: 2;
  width: 15vw;
  height: auto;
  top: 1vh;
  left: vw;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.menu {
  width: 5vw;
  position: fixed;
  top: 5vh;
  right: 1vw;
  z-index: 3;
  color: white;
}
i {
  font-size: 3vw;
}
.menu-content a {
  right: 3vw;
  margin-top: 5vh;
  display: block;
  color: white;
  text-decoration: none;
}
.menu label {
  width: 2.5vw;
  display: block;
  cursor: pointer;
}
.menu a,
.menu a:visited {
  color: white;
}
.menu a:hover {
  color: #f92a91;
}
.menu-content {
  display: none;
  position: absolute;
  float: right;
  z-index: 100;
}
input#hamburger-menu,
#x {
  display: none;
}
input:checked + label #x {
  display: block;
}
input:checked + label #hamburger {
  display: none;
}
input:checked ~ label #x {
  display: block;
}
input:checked ~ .menu-content {
  display: block;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .menu {
    top: 3vh;
  }
  i {
    font-size: 5vw;
  }
  .menu a {
    margin-top: 3vh;
  }
}

/*Home Page*/
.picture {
  width: 40vw;
  margin-left: 1vw;
  margin-top: 10vh;
  position: fixed;
  z-index: 1;
  opacity: 1;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .picture {
    width: 80vw;
    bottom: 0;
    margin: auto;
    position: absolute;
  }
  #text-anim {
    margin: auto;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1170px) and (orientation: portrait) {
  .picture {
    bottom: 0;
    position: absolute;
    margin: auto;
  }
}
.text {
  width: 50vw;
  height: 90vh;
  margin-left: 40vw;
  font-size: 1vw;
  text-align: justify;
  position: relative;
  top: 35vh;
  z-index: 3;
  color: white;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .text {
    top: 20vh;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  /* For mobile phones: */
  .text {
    top: 10vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1170px) and (orientation: portrait) {
  /* For mobile phones: */
  .text {
    top: 25vh;
  }
}
#text-anim div {
  margin: auto;
  opacity: 0;
  font-size: 3.5vw;
  line-height: 1.5;
  text-align: center;
  text-shadow: 0.2vw 0.2vw #f92a9185;
  animation: switch 45s linear infinite;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #text-anim div {
    font-size: 6vw;
  }
}

#text-anim div:nth-child(2) {
  animation-delay: 4s;
}
#text-anim div:nth-child(3) {
  animation-delay: 8s;
}
#text-anim div:nth-child(4) {
  animation-delay: 12s;
}
#text-anim div:nth-child(5) {
  animation-delay: 16s;
}
@keyframes switch {
  0% {
    opacity: 0;
    transform: scale(10);
  }
  3% {
    opacity: 0.5;
    transform: scale(2);
  }
  10% {
    opacity: 1;
    transform: scale(1.5);
  }
  13% {
    opacity: 1;
    transform: scale(1);
  }
  35% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.about {
  position: relative;
  z-index: 1;
  margin-bottom: 50vh;
  top: 30vh;
  margin-left: 45vw;
}
.about h2 {
  margin-left: -10vw;
}
.about-text {
  width: 45vw;
  height: auto;
  background-color: #f92a919a;
  margin-top: 5vh;
  border-radius: 2%;
  padding: 4vw;
  box-sizing: border-box;
  font-size: 1.5vw;
  text-align: justify;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}
.skills {
  width: 60vw;
  height: auto;
  margin: auto;
}
.skills h2 {
  margin-left: 40vw;
}
.grid-container {
  display: grid;
  width: 41vw;
  height: auto;
  background-color: #f92a919a;
  border-radius: 2%;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: dense;
  gap: 5vw 1vw;
  padding: 2vw;
  position: relative;
  z-index: 1;
  align-items: center;
  align-content: space-evenly;
  justify-items: center;
  margin-left: 26vw;
  font-family: "Nunito sans", sans-serif;
}
.grid-container .grid-item {
  justify-content: center;
  background-color: #ffffff;
  width: 7vw;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 2vw;
  font-size: 2vw;
  border-radius: 5%;
}
@media only screen and (max-width: 420px) and (orientation: portrait) {
  .picture {
    width: 15rem;
    margin-top: 30vh;
    margin-left: 8vw;
    position: absolute;
  }
  #text-anim {
    margin: auto;
    text-align: center;
  }
  .about h2 {
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .about {
    margin: auto;
  }
  .about-text {
    width: 60vw;
    height: 12vh;
    font-size: 2vw;
    margin: auto;
    margin-bottom: 20vh;
  }
  .skills {
    margin-top: 50vh;
  }
  .skills h2 {
    text-align: center;
    margin: auto;
    margin-bottom: 5vh;
  }
}
@media only screen and (min-width: 420px) and (max-width: 768px) and (orientation: portrait) {
  .picture {
    width: 15rem;
    bottom: 0;
    position: absolute;
    margin-left: 10vw;
  }
  #text-anim {
    margin-top: -10vh;
  }
  .about {
    margin: auto;
    margin-bottom: 20vh;
  }
  .about h2 {
    margin-top: 20vh;
    margin-left: 0;
  }
  .about-text {
    height: 20vh;
    margin: auto;
  }
  .skills h2 {
    margin: auto;
    text-align: center;
    margin-bottom: 5vh;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  /* For mobile phones: */
  .grid-container {
    grid-template-columns: minmax(30vw, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-top: 15px;
    height: auto;
    gap: 2vw;
    margin-top: 5vh;
    margin: auto;
  }
  .grid-container .grid-item {
    width: 12vw;
    height: 5vh;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1170px) and (orientation: landscape) {
  /* For mobile phones: */
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    height: 48vh;
    margin-top: 15vh;
  }
  .grid-container .grid-item {
    height: 12vh;
  }
}
@media only screen and (min-width: 812px) and (max-width: 1170px) and (orientation: portrait) {
  /*For tablets:*/
  .about h2 {
    margin-top: 25vh;
    text-align: center;
    margin: auto;
    margin-bottom: 5vh;
  }
}

.grid-item i {
  font-size: 4vw;
  color: #424153;
}
.top {
  position: fixed;
  z-index: 4;
  bottom: 7vh;
  right: 3vw;
}
.top a,
.top a:visited {
  color: white;
  opacity: 0.5;
}
.top a:hover {
  opacity: 1;
}
footer {
  background-color: #f92a9185;
  padding: 1.5vw;
  position: relative;
  z-index: 3;
  top: 40vh;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 1vw;
}

.footer-container {
  width: 80%;
  margin: auto;
  text-align: center;
}
footer li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2vw;
}

footer a,
footer i,
footer a:visited {
  color: black;
}
footer li i:hover,
footer a:hover {
  color: white;
}
footer span {
  float: right;
  margin-right: 3vw;
}

/*Portfolio Page*/
h3 :not(.contact-container h3) {
  position: relative;
  z-index: 1;
  color: white;
  text-shadow: 0.2vw 0.2vw #f92a9185;
  font-size: 2.5vw;
}
.portfolio-text {
  width: 52vw;
  font-size: 1.5vw;
  background-color: #f92a91b8;
  display: table;
  text-align: center;
  margin-left: 5.3vw;
  margin-top: 5vh;
}
.portfolio-slide {
  width: 50vw;
  height: 55vh;
  border: groove 1vw #f92a91b8;
  margin-left: 3vw;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  animation: slide infinite 55s;
  opacity: 1;
  position: relative;
  z-index: 1;
}
.portfolio-illustration {
  width: 35vw;
  margin-top: 5vh;
  opacity: 1;
  position: relative;
  z-index: 1;
}
@keyframes slide {
  0%,
  7% {
    background-image: url(../img/paris.png);
    background-size: cover;
  }
  8%,
  15% {
    background-image: url(../img/form.png);
    background-size: cover;
  }
  16%,
  23% {
    background-image: url(../img/playoff.png);
  }
  24%,
  31% {
    background-image: url(../img/linkedin.png);
    background-size: cover;
  }
  32%,
  39% {
    background-image: url(../img/car1.png);
    background-size: cover;
  }
  40%,
  47% {
    background-image: url(../img/uros.png);
    background-size: cover;
  }
  48%,
  55% {
    background-image: url(../img/noname.png);
    background-size: cover;
  }
  56%,
  63% {
    background-image: url(../img/basket.png);
    background-size: cover;
  }
  70%,
  77% {
    background-image: url(../img/Homepage-1.png);
    background-size: cover;
  }
  78%,
  85% {
    background-image: url(../img/receipe.png);
    background-size: cover;
  }
  86%,
  93% {
    background-image: url(../img/flex.png);
    background-size: cover;
  }
  94%,
  100% {
    background-image: url(../img/basket1.png);
    background-size: cover;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  /* For mobile phones: */
  .portfolio-slide {
    width: 80vw;
    height: 22vh;
    margin: auto;
  }
  .portfolio-text {
    width: 82vw;
    margin: auto;
  }
  .portfolio-illustration {
    width: 60vw;
  }
  h2 {
    margin-top: 10vh;
    margin-bottom: 6vh;
  }

  .footer-container {
    margin-top: 5vh;
  }
}
@media only screen and (min-width: 320px) and (max-width: 812px) and (max-height: 450px) and (orientation: landscape) {
  /* For mobile phones: */
  h2 {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .portfolio-illustration {
    width: 30vw;
  }
  .portfolio-text {
    margin-left: 14.7vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1170px) and (orientation: portrait) {
  /*For tablets:*/
  .portfolio-slide {
    height: 36vh;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1170px) and (orientation: landscape) {
  /*For tablets:*/
  .portfolio-text {
    margin-left: 6.8vw;
  }
  .portfolio-slide {
    height: 38vh;
  }
  h2 {
    margin-bottom: 10vh;
  }
  .portfolio-illustration {
    width: 30vw;
  }
}
#portfolio-footer {
  position: absolute;
  bottom: 0;
  height: 13vh;
  top: 93vh;
  margin-top: 10vh;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  #portfolio-footer {
    top: 77vh;
    height: 12vh;
  }
}
@media only screen and (min-width: 320px) and (max-width: 812px) and (max-height: 450px) and (orientation: landscape) {
  /* For mobile phones: */
  #portfolio-footer {
    top: 125vh;
    height: 14vh;
  }
  .portfolio-heading {
    margin-top: 5vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1170px) and (orientation: portrait) {
  /*For tablets:*/
  #portfolio-footer {
    top: 110vh;
  }
}
@media only screen and (max-width: 1170px) and (min-height: 450px) and (orientation: landscape) {
  /*For tablets:*/
  #portfolio-footer {
    top: 75vh;
  }
}

/*Contact me Page*/
.contact-illustration {
  width: 40vw;
}
.contact-container {
  width: 32vw;
  height: auto;
  background-color: #f92a9185;
  border-radius: 5%;
  margin: 5vh 15vh 0 15vh;
  z-index: 2;
}
.contact-container h3 {
  font-size: 1vw;
}
.contact-illustration {
  width: 40vw;
  margin-top: 5vh;
}
h3 {
  text-align: center;
  margin: 2vw;
}

label {
  display: inline-block;
  width: 10vw;
  text-align: right;
  padding-right: 2rem;
  font-size: 1vw;
}
input,
textarea {
  padding: 1vh;
  width: 50%;
  margin-bottom: 1vh;
  vertical-align: top;
}
::placeholder {
  font-size: 0.8vw;
}
button {
  background-color: black;
  color: white;
  width: 20%;
  padding: 0.5vw;
  margin: 1vw;
  margin-left: 40%;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  /* For mobile phones: */
  .contact-container {
    width: 75vw;
    margin-top: 0;
  }
  .contact-container h3 {
    font-size: 2vw;
  }
  input,
  textarea {
    padding: 0;
  }
  label,
  ::placeholder {
    font-size: 2vw;
  }
  .contact-illustration {
    width: 75vw;
  }
  button {
    font-size: 2vw;
  }
}
@media only screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
  /* For mobile phones: */
  .contact-container {
    width: 75vw;
  }
  label,
  ::placeholder {
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 812px) and (max-width: 1170px) and (orientation: portrait) {
  /*For tablets:*/
  .contact-container {
    width: 60vw;
    padding-left: 7vw;
  }
  ::placeholder {
    font-size: 1.2vw;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1170px) and (orientation: landscape) {
  /*For tablets:*/
  .contact-container {
    width: 50vw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 925px) {
  label,
  input,
  textarea {
    margin-left: 7vw;
  }
}
#contact-footer {
  position: absolute;
  bottom: 0;
  height: 13vh;
  top: 82vh;
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  /* For mobile phones: */
  #contact-footer {
    top: 87vh;
  }
}
@media only screen and (min-width: 320px) and (max-width: 812px) and (max-height: 450px) {
  /* For mobile phones: */
  #contact-footer {
    margin-top: 20vh;
    top: 150vh;
    height: 15vh;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1170px) and (orientation: landscape) {
  /*For tablets:*/
  #contact-footer {
    top: 87vh;
  }
}
